<section class="bg-white">
  <div class="flex min-h-screen">
    <div class="flex flex-row w-full">
      <div
        class="hidden lg:flex flex-col justify-between bg-indigo-600 lg:p-8 xl:p-12 lg:max-w-sm xl:max-w-lg"
      >
        <div class="flex items-center justify-start space-x-2">
          <app-logo fill="fill-black" [size]="10"></app-logo>
          <a [routerLink]="['/home']" class="font-bold text-black text-3xl"
            >Geeeky</a
          >
        </div>
        <div class="space-y-5">
          <h1
            class="lg:text-4xl xl:text-5xl xl:leading-1 font-extrabold text-white"
          >
            Enter your account and discover new experiences
          </h1>
          <p class="text-lg text-black font-medium">
            You do not have an account?
          </p>
          <button
            class="inline-block flex-none px-6 py-3 rounded font-medium bg-black text-white"
            [routerLink]="['/register']"
          >
            Create account here
          </button>
        </div>
        <p class="font-medium">© 2022 Geeeky Solution</p>
      </div>

      <!-- Login -->
      <div
        class="flex flex-1 flex-col items-center justify-center px-4 relative"
      >
        <div class="flex lg:hidden justify-between items-center w-full py-4">
          <div class="flex items-center justify-start space-x-2">
            <app-logo fill="fill-indigo-700" [size]="10"></app-logo>
            <a [routerLink]="['/home']" class="font-bold text-xl">Geeky</a>
          </div>

          <div class="flex items-center space-x-2">
            <span class="hidden xs:block">Not a member? </span>
            <a
              [routerLink]="['/register']"
              class="underline font-medium text-indigo-600"
            >
              Sign up now
            </a>
          </div>
        </div>

        <button
          class="text-sm md:text-base px-3 py-1 rounded font-medium bg-green-600 text-white absolute top-16 lg:top-4 right-4"
          (click)="op.toggle($event)"
        >
          Admin Credentials
        </button>

        <div
          class="flex flex-1 w-full xs:w-auto flex-col justify-center space-y-5"
        >
          <div class="flex flex-col space-y-2 text-center">
            <h2 class="text-3xl md:text-4xl font-bold">Sign in to account</h2>
            <p class="text-md md:text-xl">Enter your details below</p>
          </div>
          <form
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
            class="flex flex-col space-y-5"
          >
            <div>
              <input
                type="email"
                pInputText
                class="p-inputtext-sm"
                placeholder="Email Address"
                formControlName="email"
              />
              <div *ngIf="isInvalidTouchedDirty('email')">
                <div
                  *ngIf="loginFormControl['email'].errors?.['required']"
                  class="input-error"
                >
                  Email is required.
                </div>
                <div
                  *ngIf="loginFormControl['email'].errors?.['email']"
                  class="input-error"
                >
                  Email is not valid.
                </div>
              </div>
            </div>
            <div>
              <p-password
                [toggleMask]="true"
                formControlName="password"
                placeholder="Password"
                class="p-inputtext-sm"
                [feedback]="false"
                (onBlur)="onBlur($event, 'password')"
                styleClass="p-password p-component p-inputwrapper p-input-icon-right"
              >
              </p-password>
              <div *ngIf="isInvalidTouchedDirty('password')">
                <div
                  *ngIf="loginFormControl['password'].errors?.['required']"
                  class="input-error"
                >
                  Password is required.
                </div>
              </div>
            </div>

            <div class="flex flex-row justify-end items-center">
              <a
                [routerLink]="['/forgot-password']"
                class="text-sm underline font-medium text-indigo-600"
              >
                Forgot password?
              </a>
            </div>

            <p-button
              type="submit"
              label="Sign In"
              styleClass="p-button"
              [loading]="isLoading"
              [disabled]="loginForm.invalid"
            ></p-button>
            <div class="flex flex-row justify-between items-center">
              <div class="flex items-center space-x-2">
                <p>Not a member?</p>
              </div>
              <a
                [routerLink]="['/register']"
                class="underline font-medium text-indigo-600"
              >
                Sign up now
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<p-overlayPanel #op appendTo="body" [dismissable]="false">
  <ng-template pTemplate>
    <!-- render admin email and password -->
    <div class="m-4">
      <table class="text-left">
        <tr class="border">
          <td class="border px-2 py-1">Email</td>
          <td class="border px-2 py-1">admin@gmail.com</td>
        </tr>
        <tr class="border">
          <td class="border px-2 py-1">Password</td>
          <td class="border px-2 py-1">Admin@123!</td>
        </tr>
      </table>
    </div>
  </ng-template>
</p-overlayPanel>
