<p-dialog
  header="Search"
  [(visible)]="display"
  [modal]="true"
  position="top"
  [resizable]="false"
  [dismissableMask]="true"
  [draggable]="false"
  appendTo="body"
  [style]="{ width: '100%', maxWidth: '500px' }"
  (onHide)="onHide()"
>
  <ng-template pTemplate="header">
    <app-name-and-time-header [user]="user"></app-name-and-time-header>
  </ng-template>

  <div class="w-full relative">
    <quill-editor
      class="w-full"
      theme="snow"
      placeholder="What's happening?"
      customToolbarPosition="bottom"
      [(ngModel)]="tweet"
      name="tweet"
      [styles]="{
        height: 'auto',
        maxWidth: '600px',
        flexDirection: 'column-reverse !important'
      }"
    >
    </quill-editor>
    <button
      class="p-button-sm"
      (click)="onSubmit()"
      pButton
      [disabled]="tweet.length === 0"
      label="Tweet"
      type="submit"
    ></button>
  </div>
</p-dialog>
