.ngx-datatable.material {
  @apply border-2 border-orange-500 shadow-8xl-orange rounded-lg  font-mono;
  .datatable-header {
    @apply border-b  border-orange-500;
    .datatable-header-cell {
      @apply text-sm text-orange-500 font-semibold;
    }
  }
  .datatable-body-row {
    @apply border-b  border-orange-500;
  }
}

.ngx-datatable {
  .datatable-footer-inner {
    display: flex;
    flex-flow: row nowrap; // can't wrap because footer height fixed
    justify-content: space-between; // probably not needed because .page-count flex grows
    > .page-count {
      // remove padding so there's more room in-between
      padding-right: 0 !important;
    }
    > .datatable-pager {
      margin: 0 !important;
      // don't grow, otherwise pager won't be right-aligned
      flex: 0 0 auto !important;
      > .pager {
        // prevent numbers from wrapping
        display: flex !important;
        flex-flow: row nowrap;
      }
    }
  }
}
