<div class="">
  <ul class="px-4 space-y-2">
    <li class="flex p-4 gap-4 items-center cursor-pointer" [routerLink]="['/']">
      <div class="icon w-7 h-7 rounded-full bg-slate-800"></div>
      <div class="font-semibold text-2xl text-slate-800">Geeky</div>
    </li>
    <li class="sidenav-item" (click)="navigateToHomeAndRefresh()">
      <app-home-icon [isActive]="isActive('home')"></app-home-icon>
      <div class="label">Home</div>
    </li>
    <li class="sidenav-item" (click)="navigateToProfileAndRefresh()">
      <app-profile-icon
        [isActive]="isMyProfileRouteActive()"
      ></app-profile-icon>
      <div class="label">Profile</div>
    </li>
    <li class="sidenav-item" [routerLink]="['/notifications']">
      <div
        pBadge
        *ngIf="totalUnreadNotifications !== 0"
        [value]="totalUnreadNotifications.toString()"
      >
        <app-notification-icon
          [isActive]="isActive('notifications')"
        ></app-notification-icon>
      </div>
      <app-notification-icon
        *ngIf="totalUnreadNotifications === 0"
        [isActive]="isActive('notifications')"
      ></app-notification-icon>
      <div class="label">Notifications</div>
    </li>

    <li class="sidenav-item" (click)="toggleSearchDialog()">
      <app-search-icon></app-search-icon>
      <div class="label">Search</div>
    </li>
    <li class="sidenav-item" [routerLink]="['/settings']">
      <app-settings-icon></app-settings-icon>
      <div class="label">Settings</div>
    </li>
    <li *ngIf="isAdmin()" class="sidenav-item" [routerLink]="['/admin']">
      <app-admin-icon></app-admin-icon>
      <div class="label">Admin</div>
    </li>
    <li class="sidenav-item" (click)="logout()">
      <app-logout-icon></app-logout-icon>
      <div class="label">Logout</div>
    </li>

    <li class="" (click)="newTweet()">
      <button
        class="rounded-full gap-4 mt-6 w-full flex items-center justify-center bg-indigo-600 text-white font-bold py-2 px-4 rounded-ful"
      >
        <app-tweet-icon></app-tweet-icon>
        <div class="label">Tweet</div>
      </button>
    </li>
  </ul>
</div>
