<section class="bg-white">
  <div class="flex min-h-screen">
    <div class="flex flex-row w-full">
      <div
        class="hidden lg:flex flex-col justify-between bg-indigo-600 lg:p-8 xl:p-12 lg:max-w-sm xl:max-w-lg"
      >
        <div class="flex items-center justify-start space-x-2">
          <app-logo fill="fill-white"></app-logo>
          <a [routerLink]="['/home']" class="font-bold text-white text-3xl"
            >Geeeky</a
          >
        </div>
        <div class="space-y-5">
          <h1
            class="lg:text-4xl xl:text-5xl xl:leading-1 font-extrabold text-white"
          >
            Enter your account and discover new experiences
          </h1>
          <p class="text-lg text-black font-medium">Already have an account?</p>
          <button
            class="inline-block flex-none px-6 py-3 rounded font-medium bg-black text-white"
            [routerLink]="['/login']"
          >
            Sign in here
          </button>
        </div>
        <p class="font-medium">© 2022 Geeeky Solution</p>
      </div>

      <div
        class="flex flex-1 flex-col items-center justify-center px-4 relative"
      >
        <div class="flex lg:hidden justify-between items-center w-full py-4">
          <div class="flex items-center justify-start space-x-2">
            <app-logo fill="fill-indigo-700" [size]="2"></app-logo>
            <a [routerLink]="['/home']" class="font-bold text-xl">Geeky</a>
          </div>

          <a
            [routerLink]="['/login']"
            class="underline font-medium text-indigo-600"
          >
            Sign in now
          </a>
        </div>

        <div
          class="flex w-full xs:w-auto flex-col h-full justify-center space-y-5 py-6"
        >
          <div class="flex flex-col space-y-2 text-center">
            <h2 class="text-3xl md:text-4xl font-bold">Register account</h2>
            <p class="text-md md:text-xl">Enter your details below</p>
          </div>
          <form
            [formGroup]="registerUserForm"
            (ngSubmit)="onSubmit()"
            class="flex flex-col space-y-5"
          >
            <div>
              <input
                type="text"
                pInputText
                class="p-inputtext-sm"
                placeholder="Username"
                formControlName="username"
              />
              <div *ngIf="isInvalidTouchedDirty('username')">
                <div
                  *ngIf="registerUserFormControl['username'].touched && registerUserFormControl['username'].errors?.['validUsername']"
                  class="input-error"
                >
                  Username is not valid.
                </div>

                <div
                  *ngIf="registerUserFormControl['username'].errors?.['required']"
                  class="input-error"
                >
                  Username is required.
                </div>

                <div
                  *ngIf="registerUserFormControl['username'].errors?.['username']"
                  class="input-error"
                >
                  {{registerUserFormControl['username'].errors?.['username']}}
                </div>
                <div
                  *ngIf="registerUserFormControl['username'].errors?.['minlength']"
                  class="input-error"
                >
                  Must be at least 4 characters long.
                </div>
              </div>
            </div>

            <div class="flex md:flex-row flex-col gap-4">
              <div class="w-full md:w-[50%]">
                <input
                  type="text"
                  pInputText
                  class="p-inputtext-sm"
                  placeholder="First Name"
                  formControlName="firstName"
                />
                <div *ngIf="isInvalidTouchedDirty('firstName')">
                  <div
                    *ngIf="registerUserFormControl['firstName'].errors?.['required']"
                    class="input-error"
                  >
                    First Name is required.
                  </div>
                  <div
                    *ngIf="registerUserFormControl['firstName'].errors?.['serverErrorFirstName']"
                    class="input-error"
                  >
                    {{registerUserFormControl['firstName'].errors?.['serverErrorFirstName']}}
                  </div>
                </div>
              </div>
              <div class="w-full md:w-[50%]">
                <input
                  type="text"
                  pInputText
                  class="p-inputtext-sm"
                  placeholder="Last Name"
                  formControlName="lastName"
                />
                <div *ngIf="isInvalidTouchedDirty('lastName')">
                  <div
                    *ngIf="registerUserFormControl['lastName'].errors?.['required']"
                    class="input-error"
                  >
                    Last name is required.
                  </div>
                </div>
              </div>
            </div>

            <div>
              <input
                type="email"
                pInputText
                class="p-inputtext-sm"
                placeholder="Email Address"
                formControlName="email"
              />
              <div *ngIf="isInvalidTouchedDirty('email')">
                <div
                  *ngIf="registerUserFormControl['email'].errors?.['required']"
                  class="input-error"
                >
                  Email is required.
                </div>
                <div
                  *ngIf="registerUserFormControl['email'].errors?.['email']"
                  class="input-error"
                >
                  Email is not valid.
                </div>
                <div
                  *ngIf="registerUserFormControl['email'].errors?.['serverErrorEmail']"
                  class="input-error"
                >
                  {{registerUserFormControl['email'].errors?.['serverErrorEmail']}}
                </div>
              </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 flex-col gap-4">
              <div>
                <p-calendar
                  class="p-inputtext-sm"
                  placeholder="Date of Birth"
                  formControlName="dateOfBirth"
                ></p-calendar>
                <div *ngIf="isInvalidTouchedDirty('dateOfBirth')">
                  <div
                    *ngIf="registerUserFormControl['dateOfBirth'].errors?.['required']"
                    class="input-error"
                  >
                    Birthday is required.
                  </div>
                </div>
              </div>
              <div>
                <p-dropdown
                  placeholder="Gender"
                  [autoDisplayFirst]="false"
                  [options]="genders"
                  formControlName="gender"
                  optionLabel="name"
                  optionValue="value"
                  class="p-inputtext-sm"
                ></p-dropdown>
                <div *ngIf="isInvalidTouchedDirty('gender')">
                  <div
                    *ngIf="registerUserFormControl['gender'].errors?.['required']"
                    class="input-error"
                  >
                    Gender is required.
                  </div>
                </div>
              </div>
            </div>
            <div>
              <p-password
                placeholder="Password"
                class="p-inputtext-sm"
                formControlName="password"
                (onBlur)="onBlur($event, 'password')"
                styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                [toggleMask]="true"
              >
                <ng-template pTemplate="header">
                  <h6>Pick a password</h6>
                </ng-template>
                <ng-template pTemplate="footer">
                  <p-divider></p-divider>
                  <p class="mt-2 font-semibold">Suggestions</p>
                  <ul class="pl-2 ml-2 mt-0 list-disc">
                    <li>At least one lowercase</li>
                    <li>At least one uppercase</li>
                    <li>At least one numeric</li>
                    <li>Minimum 8 characters</li>
                  </ul>
                </ng-template>
              </p-password>
              <div *ngIf="isInvalidTouchedDirty('password')">
                <div
                  *ngIf="registerUserFormControl['password'].errors?.['required']"
                  class="input-error"
                >
                  Password is required.
                </div>
                <div
                  *ngIf="registerUserFormControl['password'].errors?.['pattern']"
                  class="input-error"
                >
                  Password must be strong
                </div>
              </div>
            </div>

            <div>
              <p-password
                (onBlur)="onBlur($event, 'confirmPassword')"
                placeholder="Confirm Password"
                class="p-inputtext-sm"
                styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                [feedback]="false"
                formControlName="confirmPassword"
                [toggleMask]="true"
              ></p-password>
              <div *ngIf="isInvalidTouchedDirty('confirmPassword')">
                <div
                  *ngIf="registerUserFormControl['confirmPassword'].errors?.['required']"
                  class="input-error"
                >
                  Confirm password is required.
                </div>
                <div
                  *ngIf="registerUserFormControl['confirmPassword'].touched && registerUserFormControl['confirmPassword'].errors?.['matching']"
                  class="input-error"
                >
                  Passwords doesn't match
                </div>
              </div>
            </div>

            <button
              type="submit"
              label="Sign Up"
              styleClass="p-button"
              pButton
              [loading]="isLoading"
              [disabled]="registerUserForm.invalid"
            ></button>

            <div class="flex flex-row justify-between items-center">
              <div class="flex items-center space-x-2">
                <p>Already have an account?</p>
              </div>
              <a
                [routerLink]="['/login']"
                class="underline font-medium text-indigo-600"
              >
                Sign in now
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
