<li
  class="rounded transition hover:bg-indigo-50 cursor-pointer py-3 px-3 sm:py-4"
  [routerLink]="['/profile', user.id]"
>
  <div class="flex items-center space-x-4">
    <div class="flex-shrink-0">
      <img
        class="w-10 h-10 rounded-full"
        [src]="
          user.profilePictureUrl
            ? user.profilePictureUrl
            : 'https://avatars.dicebear.com/api/open-peeps/' +
              user.userName +
              '.svg'
        "
        alt="Neil image"
      />
    </div>
    <div class="flex-1 min-w-0">
      <p class="text-sm font-medium text-gray-900 truncate">
        {{ user.firstName }} {{ user.lastName }}
      </p>
      <p class="text-sm text-gray-500 truncate">{{ user.email }}</p>
    </div>
    <button
      pButton
      label="Follow"
      class="p-button-sm"
      (click)="followUnfollowUser()"
    ></button>
  </div>
</li>
