<div
  class="p-4 hover:bg-gray-100 transition border-b cursor-pointer w-full"
  [routerLink]="['/profile', user.id]"
>
  <div
    class="grid gap-4 w-full"
    style="grid-template-columns: 2.5rem auto 100px"
  >
    <img
      class="w-10 h-10 object-cover rounded-full"
      [src]="
        user.profilePictureUrl
          ? user.profilePictureUrl
          : 'https://avatars.dicebear.com/api/open-peeps/' +
            user.userName +
            '.svg'
      "
      alt="Neil image"
    />
    <div class="truncate">
      <p class="truncate text-sm font-medium text-gray-900">
        {{ user.firstName }} {{ user.lastName }}
      </p>
      <p class="text-sm truncate text-gray-500">{{ user.email }}</p>
    </div>
    <div class="">
      <button
        class="p-button-sm"
        pButton
        [label]="user.isFollowed ? 'Following' : 'Follow'"
      ></button>
    </div>
  </div>
</div>
