<div
  (click)="showDialog()"
  class="cursor-pointer"
  pTooltip="view followings"
  tooltipPosition="bottom"
>
  <span class="font-bold">{{ followings.totalElements }}</span>
  Following
</div>

<div class="z-50">
  <p-dialog
    [(visible)]="display"
    [modal]="true"
    [breakpoints]="{ '960px': '500px' }"
    [style]="{ width: '500px' }"
    [draggable]="false"
    [resizable]="false"
    appendTo="body"
    [dismissableMask]="true"
  >
    <ng-template pTemplate="header">
      <app-name-and-time-header [user]="user"></app-name-and-time-header>
    </ng-template>

    <p
      class="text-red-500 font-bold text-center"
      *ngIf="followings.users.length === 0"
    >
      NO FOLLOWINGS
    </p>
    <div *ngIf="followings.users.length > 0">
      <h1 class="font-bold mb-2">Followings</h1>

      <div class="space-y-2">
        <div *ngFor="let user of followings.users">
          <div
            class="p-4 border rounded-md hover:bg-indigo-50 cursor-pointer transition"
            (click)="routeToProfile(user.id)"
          >
            <div class="flex w-full">
              <img
                class="w-10 h-10 object-cover rounded-full"
                [src]="
                  user.profilePictureUrl
                    ? user.profilePictureUrl
                    : 'https://avatars.dicebear.com/api/open-peeps/' +
                      user.userName +
                      '.svg'
                "
                alt="Neil image"
              />
              <div class="px-4" style="width: calc(100% - 2.5rem)">
                <p class="text-sm font-medium text-gray-900 truncate">
                  {{ user.firstName }} {{ user.lastName }}
                </p>
                <p class="text-sm truncate text-gray-500">{{ user.email }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4">
        <button
          pButton
          *ngIf="this.followings.page !== this.followings.lastPage"
          [disabled]="this.followings.page === this.followings.lastPage"
          class="w-full p-button p-button-sm"
          [loading]="isLoading"
          [label]="'load more..'"
          (click)="loadMoreFollowings()"
        ></button>
      </div>
    </div>
    <ng-template pTemplate="footer"> </ng-template>
  </p-dialog>
</div>
