<div class="my-2 cursor-pointer border bg-white w-full transition rounded-md">
  <div class="flex gap-2 p-2 md:p-4">
    <div class="w-[40px]">
      <div class="overflow-hidden h-[30px] w-[30px] rounded-full">
        <img
          src="https://cdn.pixabay.com/photo/2016/11/18/23/38/child-1837375_960_720.png"
        />
      </div>
    </div>
    <div class="w-full">
      <div class="flex justify-between">
        <div class="flex flex-col md:flex-row gap-0 md:gap-1">
          <h1 class="text-sm font-bold">
            {{ comment.user?.firstName }} {{ comment.user?.lastName }}
          </h1>
          <p class="text-gray-600 text-sm">
            @{{ comment.user?.userName }} ·
            {{ comment.createdAt | date: "shortTime" }}
          </p>
        </div>
        <div>
          <button
            (click)="deleteComment()"
            class="p-button-sm p-button-text p-button-danger"
            pButton
            type="button"
            icon="pi pi-trash"
          ></button>
        </div>
      </div>
      <p class="text-sm mt-1 md:mt-0">
        {{ comment.comment }}
      </p>
    </div>
  </div>
</div>
