<div class="cursor-pointer border w-full transition rounded-md mb-2">
  <div class="border-gray-300 px-4 py-2 items-center justify-between flex">
    <div class="flex gap-4 w-full">
      <img
        class="h-[50px] w-[50px] object-cover aspect-square rounded-full"
        [src]="
          user.profilePictureUrl
            ? user.profilePictureUrl
            : 'https://avatars.dicebear.com/api/open-peeps/' +
              user.userName +
              '.svg'
        "
      />
      <div class="w-full relative">
        <quill-editor
          class="w-full"
          theme="snow"
          placeholder="What's happening?"
          customToolbarPosition="bottom"
          [(ngModel)]="tweet"
          name="tweet"
          [styles]="{
            height: 'auto',
            maxWidth: '600px',
            flexDirection: 'column-reverse !important'
          }"
        >
        </quill-editor>
        <button
          [loading]="isLoading"
          (click)="onSubmit()"
          pButton
          [disabled]="tweet.length === 0"
          label="Tweet"
          type="submit"
        ></button>
      </div>
    </div>
  </div>
</div>
