:host ::ng-deep {
  .p-inputtext {
    @apply border-white;
  }

  .ql-editor-main {
    @apply flex flex-col-reverse;
  }
  .reply-button {
    color: white !important;
    @apply w-auto rounded-full;
  }

  .reply-button-disabled {
    color: white !important;
    background: #1da1f2 !important;
  }
}
