<div class="cursor-pointer border w-full transition rounded-md mb-2">
  <div class="border-gray-300 px-4 py-2 items-center justify-between flex">
    <div class="flex gap-2 w-full">
      <div class="overflow-hidden h-[40px] w-[40px]">
        <img
          src="https://cdn.pixabay.com/photo/2016/11/18/23/38/child-1837375_960_720.png"
        />
      </div>
      <form class="w-full" [formGroup]="newTweetForm" (ngSubmit)="onSubmit()">
        <textarea
          formControlName="tweet"
          placeholder="What's happening?"
          pInputTextarea
          class=""
          [rows]="2"
          (blur)="onBlur('tweet')"
        ></textarea>

        <div class="text-right">
          <button
            pButton
            [disabled]="newTweetForm.invalid"
            label="Tweet"
            type="submit"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>
