<div class="">
  <ul class="px-4 space-y-2">
    <li class="flex p-4 gap-4 items-center cursor-pointer" [routerLink]="['/']">
      <div class="icon w-7 h-7 rounded-full bg-slate-800"></div>
      <div class="font-semibold text-2xl text-slate-800">Geeky</div>
    </li>
    <li
      class="sidenav-item"
      [routerLink]="['/admin/dashboard']"
      routerLinkActive="label-active"
    >
      <app-home-icon></app-home-icon>
      <div>Dashboard</div>
    </li>
    <li
      class="sidenav-item"
      [routerLink]="['/admin/users-list']"
      routerLinkActive="label-active"
    >
      <app-profile-icon></app-profile-icon>
      <div>Users</div>
    </li>
    <li
      class="sidenav-item"
      [routerLink]="['/admin/admins-list']"
      routerLinkActive="label-active"
    >
      <app-admin-icon></app-admin-icon>
      <div>Admins</div>
    </li>
    <li
      class="sidenav-item"
      [routerLink]="['/admin/blocked-users-list']"
      routerLinkActive="label-active"
    >
      <app-block-icon></app-block-icon>
      <div>Blocked Users</div>
    </li>
    <li class="sidenav-item" [routerLink]="['/']">
      <app-tweet-icon fillClass="fill-slate-800"></app-tweet-icon>
      <div>Twitter</div>
    </li>
    <li class="sidenav-item" (click)="logout()">
      <app-logout-icon></app-logout-icon>
      <div>Logout</div>
    </li>
  </ul>
</div>

<app-confirmation-dialog key="side-logout"></app-confirmation-dialog>
