<div
  class="w-full flex flex-row justify-center items-center border rounded-md overflow-hidden"
>
  <div class="w-full mx-auto bg-white">
    <div class="h-32 object-cover bg-indigo-600">
      <img
        *ngIf="currentUser.coverPictureUrl"
        class="object-cover w-full h-full"
        [src]="currentUser.coverPictureUrl"
      />
    </div>
    <img
      class="w-32 bg-whtie h-32 object-cover mx-auto rounded-full -mt-20 border-8"
      [src]="
        currentUser.profilePictureUrl
          ? currentUser.profilePictureUrl
          : 'https://avatars.dicebear.com/api/open-peeps/' +
            currentUser.userName +
            '.svg'
      "
      alt=""
    />

    <div class="text-center mt-6 text-3xl font-medium leading-3">
      {{ currentUser.firstName }} {{ currentUser.lastName }}
    </div>
    <div class="text-center mt-2 font-light text-sm">
      @{{ currentUser.userName }}
    </div>
    <div
      *ngIf="currentUser.address"
      class="flex items-center justify-center font-normal text-lg gap-1"
    >
      <i-tabler name="map-pin" class="w-[30px]"></i-tabler>
      <span class="">{{ currentUser.address }}</span>
    </div>
    <div
      *ngIf="currentUser.bio"
      class="px-6 text-center mt-2 font-light text-sm"
    >
      <p>{{ currentUser.bio }}</p>
    </div>
    <hr class="mt-8" />
    <div class="flex p-4">
      <div class="w-1/2 text-center">
        <app-followers-list
          [followersCount]="currentUser.followers"
          [user]="currentUser"
        ></app-followers-list>
      </div>
      <div class="w-0 border border-gray-300"></div>
      <div class="w-1/2 text-center">
        <app-following-list
          [followingCount]="currentUser.following"
          [user]="currentUser"
        ></app-following-list>
      </div>
    </div>
  </div>
</div>
