<div
  class="w-full flex flex-row justify-center items-center border rounded-md overflow-hidden"
>
  <div class="w-full mx-auto bg-white">
    <div class="h-32 bg-indigo-600">
      <img
        class="object-cover h-full"
        src="https://media-exp1.licdn.com/dms/image/D5616AQGiusJ4x5d5xw/profile-displaybackgroundimage-shrink_350_1400/0/1662551114772?e=1669248000&v=beta&t=YhASl_cOkizha6rZQrI0WbJOe2LuFPdGZv8okVPy-QY"
      />
    </div>
    <img
      class="w-32 h-32 object-cover mx-auto rounded-full -mt-20 border-8"
      src="https://syedshiblimahmud.vercel.app/_next/image?url=%2Fshibli.JPG&w=640&q=75"
      alt=""
    />

    <div class="text-center mt-6 text-3xl font-medium leading-3">
      {{ currentUser?.firstName }} {{ currentUser?.lastName }}
    </div>
    <div class="text-center mt-2 font-light text-sm">
      @{{ currentUser?.userName }}
    </div>
    <div class="flex items-center justify-center font-normal text-lg gap-1">
      <i-tabler name="map-pin" class="w-[30px]"></i-tabler>
      <span class="">Sylhet , Bangladesh</span>
    </div>
    <div class="px-6 text-center mt-2 font-light text-sm">
      <p>Front end Developer, avid reader. Love to take a long walk, swim</p>
    </div>
    <hr class="mt-8" />
    <div class="flex p-4">
      <div class="w-1/2 text-center">
        <span class="font-bold">1.8 k</span> Followers
      </div>
      <div class="w-0 border border-gray-300"></div>
      <div class="w-1/2 text-center">
        <span class="font-bold">2.0 k</span> Following
      </div>
    </div>
  </div>
</div>
