<div class="cursor-pointer border w-full transition rounded-md mb-2">
  <div class="border-gray-300 px-4 py-2 items-center justify-between flex">
    <div class="flex gap-2 w-full">
      <div class="overflow-hidden h-[40px] w-[40px]">
        <img
          src="https://cdn.pixabay.com/photo/2016/11/18/23/38/child-1837375_960_720.png"
        />
      </div>
      <div class="w-full">
        <textarea
          placeholder="What's happening?"
          pInputTextarea
          class="border-none"
          [rows]="2"
        ></textarea>
        <div class="text-right">
          <p-button label="Tweet"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
