:host ::ng-deep {
  .p-button {
    @apply w-auto;
  }
  .p-button-danger {
    @apply enabled:focus:shadow-none;
  }

  .ngx-datatable.material {
    @apply rounded-md shadow;
    .datatable-header {
      @apply border-b;
      .datatable-header-cell {
        @apply text-sm  font-semibold;
      }
    }
    .datatable-body-row {
      @apply border-b;
    }
  }

  .datatable-row-detail {
    width: 100vw;
  }

  .ngx-datatable {
    .datatable-footer-inner {
      display: flex;
      flex-flow: row nowrap; // can't wrap because footer height fixed
      justify-content: space-between; // probably not needed because .page-count flex grows
      > .page-count {
        // remove padding so there's more room in-between
        white-space: nowrap;
        padding-right: 0 !important;
      }
      > .datatable-pager {
        margin: 0 !important;
        // don't grow, otherwise pager won't be right-aligned
        flex: 0 0 auto !important;
        > .pager {
          // prevent numbers from wrapping
          display: flex !important;
          flex-flow: row nowrap;
        }
      }
    }
  }
}
