<app-top-nav title="Search"></app-top-nav>

<div class="p-4" *ngIf="searchQuery.length === 0">
  <h1 class="text-lg text-center">Please enter a search query!!</h1>
</div>

<!-- Please enter a search query -->

<div>
  <div *ngIf="searchedUsers && searchQuery">
    <div infinite-scroll (scrolled)="loadMore()" [immediateCheck]="true">
      <div *ngFor="let user of searchedUsers.users">
        <app-user-card [user]="user"></app-user-card>
      </div>
    </div>
  </div>

  <div *ngIf="searchedUsers && searchedUsers.users.length === 0 && searchQuery">
    <h1 class="text-lg text-center">No users found!!</h1>
  </div>

  <div *ngIf="isLoading" class="space-y-2">
    <div>
      <app-user-card-skeleton></app-user-card-skeleton>
    </div>
    <div>
      <app-user-card-skeleton></app-user-card-skeleton>
    </div>
    <div>
      <app-user-card-skeleton></app-user-card-skeleton>
    </div>
    <div>
      <app-user-card-skeleton></app-user-card-skeleton>
    </div>
  </div>
</div>
