<p-dialog
  position="top"
  [(visible)]="visible"
  [modal]="true"
  [breakpoints]="{ '960px': '600px' }"
  [style]="{ width: '600px' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [dismissableMask]="true"
  (onHide)="onHide()"
>
  <ng-template pTemplate="header">
    <app-name-and-time-header
      [date]="tweet.createdAt"
      [user]="tweet.user"
    ></app-name-and-time-header>
  </ng-template>

  <quill-editor
    class="w-full"
    theme="snow"
    placeholder="Retweet your reply..."
    customToolbarPosition="bottom"
    [(ngModel)]="editTweet"
    name="retweetText"
    [styles]="{
      height: 'auto',
      maxWidth: '600px',
      flexDirection: 'column-reverse !important'
    }"
  >
  </quill-editor>

  <div *ngIf="tweet.type === 'Retweet'" class="">
    <div *ngIf="tweet.refTweet">
      <app-retweet-card [tweet]="tweet.refTweet"></app-retweet-card>
    </div>
    <div
      class="text-gray-500 text-sm border border-gray-300 px-2 md:px-4 py-2 items-center justify-between flex"
      *ngIf="!tweet.refTweet"
    >
      This tweet is no longer available.
    </div>
  </div>

  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-save"
      label="Save"
      class="p-button-text -mr-2"
      [loading]="isEditing"
      (click)="onEditTweet()"
    ></p-button>
  </ng-template>
</p-dialog>
