<app-top-nav title="Change Password"></app-top-nav>

<div class="px-4 md:p-8 rounded-md">
  <form
    [formGroup]="changePasswordForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col max-w-sm mx-auto space-y-3"
  >
    <div class="space-y-1">
      <label class="text-gray-600">Old Password</label>
      <div>
        <p-password
          class="p-inputtext-sm"
          formControlName="password"
          (onBlur)="onBlur($event, 'password')"
          styleClass="p-password p-component p-inputwrapper p-input-icon-right"
          [toggleMask]="true"
          [feedback]="false"
        >
        </p-password>
      </div>
      <div *ngIf="isInvalidTouchedDirty('password')">
        <div
          *ngIf="changedPasswordFormControl['password'].errors?.['required']"
          class="input-error"
        >
          Old Password is required.
        </div>
      </div>
    </div>

    <div class="space-y-1">
      <label class="text-gray-600">New Password</label>
      <div>
        <p-password
          class="p-inputtext-sm"
          formControlName="newPassword"
          (onBlur)="onBlur($event, 'newPassword')"
          styleClass="p-password p-component p-inputwrapper p-input-icon-right"
          [toggleMask]="true"
        >
          <ng-template pTemplate="header">
            <h6>Pick a password</h6>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-divider></p-divider>
            <p class="mt-2 font-semibold">Suggestions</p>
            <ul class="pl-2 ml-2 mt-0 list-disc">
              <li>At least one lowercase</li>
              <li>At least one uppercase</li>
              <li>At least one numeric</li>
              <li>Minimum 8 characters</li>
            </ul>
          </ng-template>
        </p-password>
        <div *ngIf="isInvalidTouchedDirty('newPassword')">
          <div
            *ngIf="changedPasswordFormControl['newPassword'].errors?.['required']"
            class="input-error"
          >
            New Password is required.
          </div>
          <div
            *ngIf="changedPasswordFormControl['newPassword'].errors?.['pattern']"
            class="input-error"
          >
            Password must be strong
          </div>
        </div>
      </div>
    </div>

    <div class="space-y-1">
      <label class="text-gray-600">Confirm Password</label>
      <div>
        <p-password
          class="p-inputtext-sm"
          formControlName="confirmPassword"
          (onBlur)="onBlur($event, 'confirmPassword')"
          styleClass="p-password p-component p-inputwrapper p-input-icon-right"
          [toggleMask]="true"
          [feedback]="false"
        >
        </p-password>
      </div>
      <div *ngIf="isInvalidTouchedDirty('confirmPassword')">
        <div
          *ngIf="changedPasswordFormControl['confirmPassword'].errors?.['required']"
          class="input-error"
        >
          Confirm password is required.
        </div>
        <div
          *ngIf="changedPasswordFormControl['confirmPassword'].touched && changedPasswordFormControl['confirmPassword'].errors?.['matching']"
          class="input-error"
        >
          Passwords doesn't match
        </div>
      </div>
    </div>
    <div class="pt-2">
      <button
        pButton
        type="submit"
        label="Change password"
        styleClass="p-button"
        [disabled]="changePasswordForm.invalid"
        [loading]="isLoading"
      ></button>
    </div>
  </form>
</div>
