<div class="my-2 cursor-pointer border bg-white w-full transition rounded-md">
  <div class="flex gap-2 p-4">
    <div class="w-[40px]">
      <div class="overflow-hidden h-[30px] w-[30px] rounded-full">
        <img
          src="https://cdn.pixabay.com/photo/2016/11/18/23/38/child-1837375_960_720.png"
        />
      </div>
    </div>
    <div class="">
      <div class="flex gap-1 items-center">
        <h1 class="text-sm font-bold">John Doe</h1>
        <p class="text-gray-600 text-sm">@john · Mar 16</p>
      </div>
      <p class="text-sm">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloremque
      </p>
    </div>
  </div>
</div>
