<section class="bg-white">
  <div class="flex min-h-screen">
    <div class="flex flex-row w-full">
      <div
        class="hidden lg:flex flex-col justify-between bg-indigo-600 lg:p-8 xl:p-12 lg:max-w-sm xl:max-w-lg"
      >
        <div class="flex items-center justify-start space-x-2">
          <app-logo fill="fill-black" [size]="10"></app-logo>
          <a [routerLink]="['/home']" class="font-bold text-black text-3xl"
            >Geeeky</a
          >
        </div>
        <div class="space-y-5">
          <h1
            class="lg:text-4xl xl:text-5xl xl:leading-1 font-extrabold text-white"
          >
            Enter your account and discover new experiences
          </h1>
          <p class="text-lg text-black font-medium">
            You do not have an account?
          </p>
          <button
            class="inline-block flex-none px-6 py-3 rounded font-medium bg-black text-white"
            [routerLink]="['/register']"
          >
            Create account here
          </button>
        </div>
        <p class="font-medium">© 2022 Geeeky Solution</p>
      </div>

      <!-- Login -->
      <div
        class="flex flex-1 flex-col items-center justify-center px-4 relative"
      >
        <div class="flex lg:hidden justify-between items-center w-full py-4">
          <div class="flex items-center justify-start space-x-2">
            <app-logo fill="fill-indigo-700" [size]="8"></app-logo>
            <a [routerLink]="['/home']" class="font-bold text-xl">Geeky</a>
          </div>

          <div class="flex items-center space-x-2">
            <span class="hidden xs:block">Not a member? </span>
            <a
              [routerLink]="['/register']"
              class="underline font-medium text-indigo-600"
            >
              Sign up now
            </a>
          </div>
        </div>

        <div
          class="flex w-full xs:w-auto h-full flex-col justify-center space-y-5 max-w-md"
        >
          <div class="flex flex-col space-y-2 text-center">
            <h2 class="text-3xl md:text-4xl font-bold">Reset password</h2>
            <p class="text-md md:text-xl">Enter your new password</p>
          </div>
          <form
            [formGroup]="resetPasswordForm"
            (ngSubmit)="onSubmit()"
            class="flex flex-col max-w-md space-y-5"
          >
            <div>
              <p-password
                placeholder="Password"
                class="p-inputtext-sm"
                formControlName="password"
                (onBlur)="onBlur($event, 'password')"
                styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                [toggleMask]="true"
              >
                <ng-template pTemplate="header">
                  <h6>Pick a password</h6>
                </ng-template>
                <ng-template pTemplate="footer">
                  <p-divider></p-divider>
                  <p class="mt-2 font-semibold">Suggestions</p>
                  <ul class="pl-2 ml-2 mt-0 list-disc">
                    <li>At least one lowercase</li>
                    <li>At least one uppercase</li>
                    <li>At least one numeric</li>
                    <li>Minimum 8 characters</li>
                  </ul>
                </ng-template>
              </p-password>
              <div *ngIf="isInvalidTouchedDirty('password')">
                <div
                  *ngIf="resetPasswordFormControl['password'].errors?.['required']"
                  class="input-error"
                >
                  Password is required.
                </div>
                <div
                  *ngIf="resetPasswordFormControl['password'].errors?.['pattern']"
                  class="input-error"
                >
                  Password must be strong
                </div>
              </div>
            </div>

            <div>
              <p-password
                (onBlur)="onBlur($event, 'confirmPassword')"
                placeholder="Confirm Password"
                class="p-inputtext-sm"
                styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                [feedback]="false"
                formControlName="confirmPassword"
                [toggleMask]="true"
              ></p-password>
              <div *ngIf="isInvalidTouchedDirty('confirmPassword')">
                <div
                  *ngIf="resetPasswordFormControl['confirmPassword'].errors?.['required']"
                  class="input-error"
                >
                  Confirm password is required.
                </div>
                <div
                  *ngIf="resetPasswordFormControl['confirmPassword'].touched && resetPasswordFormControl['confirmPassword'].errors?.['matching']"
                  class="input-error"
                >
                  Passwords doesn't match
                </div>
              </div>
            </div>

            <button
              pButton
              type="submit"
              label="Reset password"
              styleClass="p-button"
              [disabled]="resetPasswordForm.invalid"
              [loading]="isLoading"
            ></button>

            <div class="flex flex-row justify-between items-center">
              <div class="flex items-center space-x-2">
                <p>Not a member?</p>
              </div>
              <a
                [routerLink]="['/register']"
                class="underline font-medium text-indigo-600"
              >
                Sign up now
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
