<div *ngIf="blockedUsers" class="border p-4 md:p-8 rounded-md">
  <h3 class="text-xl font-semibold mb-6 leading-none text-gray-900">
    Blocked users list
  </h3>

  <div *ngIf="blockedUsers.users.length === 0">
    You have blocked {{ blockedUsers.users.length }} user.
  </div>
  <div
    *ngIf="blockedUsers.users && blockedUsers.users.length > 0"
    class="space-y-2"
    infinite-scroll
    (scrolled)="loadMoreUser()"
    [fromRoot]="true"
    [immediateCheck]="true"
  >
    <ul *ngFor="let user of blockedUsers.users">
      <div
        class="p-4 border rounded-md hover:bg-indigo-50 cursor-pointer transition"
      >
        <div class="flex w-full">
          <img
            class="w-10 h-10 object-cover rounded-full"
            [src]="
              user.profilePictureUrl
                ? user.profilePictureUrl
                : 'https://avatars.dicebear.com/api/open-peeps/' +
                  user.userName +
                  '.svg'
            "
            alt="Neil image"
          />
          <div class="px-4" style="width: calc(100% - 2.5rem - 100px)">
            <p class="text-sm font-medium text-gray-900 truncate">
              {{ user.firstName }} {{ user.lastName }}
            </p>
            <p class="text-sm truncate text-gray-500">{{ user.email }}</p>
          </div>
          <div class="w-[100px]">
            <button
              (click)="unblockUser(user.id)"
              class="p-button-sm"
              pButton
              label="Unblock"
              [loading]="isUnblocking"
            ></button>
          </div>
        </div>
      </div>
    </ul>
  </div>
  <div *ngIf="isLoading" class="py-10 flex justify-center">
    <app-spinner></app-spinner>
  </div>

  <p
    class="text-center py-10 font-semibold"
    *ngIf="blockedUsers.page === blockedUsers.totalPages && !isLoading"
  >
    No more users to show
  </p>
</div>
