<form class="px-4 border-y" (ngSubmit)="addComment()" #form="ngForm">
  <div class="py-4">
    <input
      name="newComment"
      [(ngModel)]="comment"
      placeholder="Tweet your reply"
      pInputText
      class="p-intput-rounded"
    />
  </div>

  <div class="flex justify-between items-center mb-4">
    <h1 class="text-xl font-bold leading-none text-gray-900">Replies</h1>
    <p-button
      type="submit"
      icon="pi pi-send"
      label="Reply"
      class="p-button-text"
      [loading]="isCommenting"
      [disabled]="!comment"
    ></p-button>
  </div>
</form>
