<div *ngIf="user$ | async as user">
  <div
    class="w-full p-4 sticky flex gap-2 border-b items-center top-0 backdrop-blur-lg z-50 md:justify-end justify-between"
  >
    <div
      class="md:hidden flex gap-2 items-center cursor-pointer"
      [routerLink]="['/']"
    >
      <app-logo fill="fill-indigo-700" [size]="8"></app-logo>
      <a [routerLink]="['/home']" class="font-bold text-xl">Geeky</a>
    </div>
    <a
      type="button"
      class="rounded-full overflow-hidden block"
      (click)="toggleSidebar()"
    >
      <img
        class="h-[36px] w-[36px] object-cover"
        [src]="
          user.profilePictureUrl
            ? user.profilePictureUrl
            : 'https://avatars.dicebear.com/api/open-peeps/' +
              user.userName +
              '.svg'
        "
      />
    </a>
  </div>

  <p-sidebar
    [blockScroll]="true"
    [style]="{ maxWidth: '280px' }"
    [(visible)]="sidenavDisplay"
    [showCloseIcon]="false"
  >
    <ng-template pTemplate="content">
      <div class="flex py-4 mb-2 items-center justify-between">
        <h1 class="font-bold">Account info</h1>
        <i class="pi pi-times mr-2" (click)="toggleSidebar()"></i>
      </div>
      <img
        class="h-[50px] w-[50px] object-cover rounded-full"
        [src]="
          user.profilePictureUrl
            ? user.profilePictureUrl
            : 'https://avatars.dicebear.com/api/open-peeps/' +
              user.userName +
              '.svg'
        "
      />

      <div class="mt-6 font-bold leading-3">
        {{ user.firstName }} {{ user.lastName }}
      </div>

      <ul class="space-y-2 mt-6">
        <li
          class="admin-top-sidenav-item"
          (click)="routeToAndCloseSidenav('/admin')"
        >
          <app-home-icon></app-home-icon>
          <div class="label">Dashboard</div>
        </li>
        <li
          (click)="routeToAndCloseSidenav('/admin/users-list')"
          class="admin-top-sidenav-item"
        >
          <app-profile-icon></app-profile-icon>
          <div class="label">Users</div>
        </li>
        <li
          (click)="routeToAndCloseSidenav('/admin/admins-list')"
          class="admin-top-sidenav-item"
        >
          <app-admin-icon></app-admin-icon>
          <div class="label">Admins</div>
        </li>
        <li
          (click)="routeToAndCloseSidenav('/admin/blocked-users-list')"
          class="admin-top-sidenav-item"
        >
          <app-block-icon></app-block-icon>
          <div class="label">Blocked Users</div>
        </li>
        <li
          class="admin-top-sidenav-item"
          (click)="routeToAndCloseSidenav('/')"
        >
          <app-tweet-icon fillClass="fill-slate-800"></app-tweet-icon>
          <div class="label">Twitter</div>
        </li>
        <li class="admin-top-sidenav-item" (click)="logout()">
          <app-logout-icon></app-logout-icon>
          <div class="label">Logout</div>
        </li>
      </ul>
    </ng-template>
  </p-sidebar>

  <app-confirmation-dialog key="top-admin-logout"></app-confirmation-dialog>
</div>
