<div class="w-full" *ngIf="users.length !== 0">
  <div class="bg-slate-50 rounded-md">
    <div class="flex justify-between items-center">
      <h3 class="p-4 text-xl font-bold leading-none text-gray-900">
        You may follow
      </h3>
    </div>
    <div *ngIf="!isLoading" class="w-full">
      <div *ngFor="let user of users" role="list">
        <div
          class="p-4 hover:bg-gray-100 cursor-pointer transition"
          [routerLink]="['/profile', user.id]"
        >
          <div class="flex w-full">
            <img
              class="w-10 h-10 object-cover rounded-full"
              [src]="
                user.profilePictureUrl
                  ? user.profilePictureUrl
                  : 'https://avatars.dicebear.com/api/open-peeps/' +
                    user.userName +
                    '.svg'
              "
              alt="Neil image"
            />
            <div class="px-4" style="width: calc(100% - 2.5rem)">
              <p class="text-sm font-medium text-gray-900 truncate">
                {{ user.firstName }} {{ user.lastName }}
              </p>
              <p class="text-sm truncate text-gray-500">{{ user.email }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="isLoading" class="space-y-2">
      <div>
        <app-user-card-skeleton></app-user-card-skeleton>
      </div>
      <div>
        <app-user-card-skeleton></app-user-card-skeleton>
      </div>
      <div>
        <app-user-card-skeleton></app-user-card-skeleton>
      </div>
      <div>
        <app-user-card-skeleton></app-user-card-skeleton>
      </div>
      <div>
        <app-user-card-skeleton></app-user-card-skeleton>
      </div>
      <div>
        <app-user-card-skeleton></app-user-card-skeleton>
      </div>
      <div>
        <app-user-card-skeleton></app-user-card-skeleton>
      </div>
    </div>
  </div>
</div>
