<div *ngIf="notFound" class="p-4 text-center">
  <div
    class="text-gray-500 text-center border border-gray-300 px-2 md:px-4 py-2"
  >
    This tweet is no longer available.
  </div>
</div>

<div *ngIf="!notFound">
  <div *ngIf="isLoading">
    <app-tweet-card-skeleton></app-tweet-card-skeleton>
  </div>

  <div *ngIf="tweet && !isLoading">
    <div
      class="hover:bg-gray-50 cursor-pointer border w-full transition rounded-md"
    >
      <div
        class="border-b border-gray-300 px-2 md:px-4 py-2 items-center justify-between flex"
      >
        <app-name-and-time-header
          [date]="tweet.createdAt"
          [user]="tweet.user"
          [overlay]="true"
        ></app-name-and-time-header>
        <div *ngIf="currentUser.id === tweet.user.id">
          <div class="flex items-center text-gray-600">
            <button
              pButton
              type="button "
              icon="pi pi-pencil"
              class="p-button-sm p-button-text"
              (click)="display = true"
            ></button>
            <button
              pButton
              type="button"
              icon="pi pi-trash"
              class="p-button-danger p-button-sm p-button-text"
              (click)="deleteTweet()"
            ></button>
          </div>
        </div>
      </div>
      <div class="p-4">
        <quill-view-html
          [content]="tweet.tweet"
          theme="bubble"
        ></quill-view-html>

        <div *ngIf="tweet.type === 'Retweet'" class="">
          <div *ngIf="tweet.refTweet">
            <app-retweet-card [tweet]="tweet.refTweet"></app-retweet-card>
          </div>
          <div
            class="text-gray-500 text-sm border border-gray-300 px-2 md:px-4 py-2 items-center justify-between flex"
            *ngIf="!tweet.refTweet"
          >
            This tweet is no longer available.
          </div>
        </div>
      </div>

      <app-like-reply-retweet-button
        (onLikeEvent)="likeUnlike()"
        (onRetweetEvent)="showRetweetDialog()"
        [isLiked]="tweet.isLiked"
        [likeCount]="tweet.likeCount"
        [commentCount]="tweet.commentCount"
        [retweetCount]="tweet.retweetCount"
      ></app-like-reply-retweet-button>
    </div>

    <app-new-comment [tweetId]="tweet.id"></app-new-comment>

    <div *ngIf="tweetComments">
      <div
        class="search-results"
        infinite-scroll
        (scrolled)="loadMore()"
        [immediateCheck]="true"
      >
        <div *ngFor="let comment of tweetComments.comments">
          <app-tweet-comment [comment]="comment"></app-tweet-comment>
        </div>
      </div>
    </div>

    <!-- edit tweet dialog -->

    <app-edit-tweet-dialog
      [tweet]="tweet"
      [currentUser]="currentUser"
      [visible]="display"
      (onCloseEvent)="display = false"
    >
    </app-edit-tweet-dialog>

    <!-- retweet dialog -->

    <app-retweet-dialog
      [tweet]="tweet"
      [currentUser]="currentUser"
      [visible]="retweetDisplay"
      (onCloseEvent)="retweetDisplay = false"
    ></app-retweet-dialog>

    <div *ngIf="tweet.userId === currentUser.id && tweet.type === 'Retweet'">
      <app-retweet-undo-dialog
        [tweet]="tweet"
        [currentUser]="currentUser"
        [visible]="retweetUndoDisplay"
        (onCloseEvent)="retweetUndoDisplay = false"
      >
      </app-retweet-undo-dialog>
    </div>

    <div *ngIf="!tweet">Tweet not found</div>
  </div>
</div>
