<div class="p-4 hover:bg-gray-100 transition border-b">
  <div class="flex w-full">
    <img
      class="w-10 h-10 object-cover rounded-full"
      [src]="
        user.profilePictureUrl
          ? user.profilePictureUrl
          : 'https://avatars.dicebear.com/api/open-peeps/' +
            user.userName +
            '.svg'
      "
      alt="Neil image"
    />
    <div class="px-4" style="width: calc(100% - 2.5rem - 120px)">
      <p class="text-sm font-medium text-gray-900 truncate">
        {{ user.firstName }} {{ user.lastName }}
      </p>
      <p class="text-sm truncate text-gray-500">@{{ user.userName }}</p>
    </div>
    <div class="w-[120px]">
      <button
        (click)="unblockUser(user.id)"
        pButton
        class="p-button-sm"
        label="Unblock"
        [loading]="isUnblocking"
      ></button>
    </div>
  </div>
</div>
