<div class="" *ngIf="profileUser">
  <div
    class="w-full flex flex-row justify-center items-center border rounded-md overflow-hidden"
  >
    <div class="w-full mx-auto bg-white">
      <div class="h-40 bg-indigo-600 overflow-hidden">
        <img class="object-cover h-full" [src]="profileUser.coverPictureUrl" />
      </div>
      <div class="flex justify-between p-4">
        <img
          class="bg-white w-32 h-32 object-cover rounded-full -mt-20 border-8"
          [src]="
            profileUser.profilePictureUrl
              ? profileUser.profilePictureUrl
              : 'https://avatars.dicebear.com/api/open-peeps/' +
                profileUser.userName +
                '.svg'
          "
          alt=""
        />
        <div class="flex items-center gap-1">
          <button
            pButton
            label="Edit"
            type="button"
            icon="pi pi-pencil"
            *ngIf="isCurrentUser"
            class="p-button-text"
            [routerLink]="['/profile/edit', userId]"
          ></button>

          <div *ngIf="!isCurrentUser" class="flex gap-2">
            <p-button label="Block" class="p-button-danger"></p-button>
            <p-button
              label="Follow"
              (onClick)="followUnfollowUser()"
            ></p-button>
          </div>
        </div>
      </div>
      <div class="p-4">
        <h1 class="text-2xl font-medium leading-3">
          {{ profileUser.firstName }} {{ profileUser.lastName }}
        </h1>
        <p class="mt-2 font-light">@{{ profileUser.userName }}</p>

        <div *ngIf="profileUser.bio" class="mt-3 font-light text-sm">
          <p>
            {{ profileUser.bio }}
          </p>
        </div>
        <p *ngIf="profileUser.address" class="font-normal mt-3">
          <i class="ti ti-map-pin"></i>
          {{ profileUser.address }}
        </p>
        <div class="flex mt-3 gap-2">
          <div class="">
            <app-followers-list
              [followersCount]="profileUser.followers"
              [user]="profileUser"
            ></app-followers-list>
          </div>
          <div class="">
            <app-following-list
              [followingCount]="profileUser.following"
              [user]="profileUser"
            ></app-following-list>
            <!-- <span class="font-bold">{{ profileUser.following }}</span> Following -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-between items-center m-4">
    <h3 class="text-xl font-bold leading-none text-gray-900">Tweets</h3>
  </div>
</div>

<!-- loop users tweets  -->

<div class="space-y-2">
  <div *ngFor="let tweet of usersTweets">
    <app-tweet-card [tweet]="tweet"></app-tweet-card>
  </div>
</div>
