<div *ngIf="notFound" class="p-4 text-center">
  <div
    class="text-gray-500 text-center border border-gray-300 px-2 md:px-4 py-2"
  >
    This user is no longer available.
  </div>
</div>

<div *ngIf="!notFound">
  <div *ngIf="isProfileLoading" class="p-4 mb-4">
    <div class="flex items-center space-x-4">
      <p-skeleton shape="circle" size="8rem" class="mr-2"></p-skeleton>
      <div class="flex-1 justify-center">
        <p-skeleton width="100%" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="60%" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="90%" styleClass="mb-2"></p-skeleton>
        <p-skeleton width="20%"></p-skeleton>
      </div>
    </div>
    <div class="space-y-2 mt-4">
      <p-skeleton width="40%" height="14px" styleClass="mb-1"></p-skeleton>
      <p-skeleton width="20%" height="12px" styleClass="mb-1"></p-skeleton>
      <p-skeleton
        width="100%"
        height="12px"
        styleClass="mb-1 mt-4"
      ></p-skeleton>
      <p-skeleton width="70%" height="12px" styleClass="mb-1"></p-skeleton>
      <p-skeleton width="20%" height="12px" styleClass="mb-1"></p-skeleton>
      <div class="flex gap-4 pt-4">
        <div class="w-[20%]">
          <p-skeleton width="100%" height="20px"></p-skeleton>
        </div>
        <div class="w-[20%]">
          <p-skeleton width="100%" height="20px"></p-skeleton>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isProfileLoading" class=""></div>

  <ng-container class="" *ngIf="profileUser && !isProfileLoading">
    <app-top-nav [title]="profileUser.userName"></app-top-nav>
    <div class="w-full flex flex-row justify-center items-center">
      <div class="w-full mx-auto bg-white">
        <div class="h-36 md:h-40 bg-indigo-600 overflow-hidden">
          <img
            *ngIf="profileUser.coverPictureUrl"
            class="object-cover w-full h-full"
            [src]="profileUser.coverPictureUrl"
          />
        </div>
        <div class="flex justify-between p-4">
          <img
            class="bg-white w-24 h-24 sm:w-32 sm:h-32 object-cover rounded-full -mt-16 sm:-mt-20 border-4"
            [src]="
              profileUser.profilePictureUrl
                ? profileUser.profilePictureUrl
                : 'https://avatars.dicebear.com/api/open-peeps/' +
                  profileUser.userName +
                  '.svg'
            "
            alt=""
          />
          <div class="flex items-center gap-1">
            <button
              pButton
              label="Edit"
              type="button"
              icon="pi pi-pencil"
              *ngIf="isCurrentUserProfile"
              class="p-button-text"
              [routerLink]="['/settings/edit', userId]"
            ></button>

            <div *ngIf="!isCurrentUserProfile" class="flex gap-2">
              <p-button
                [loading]="isBlocking"
                (onClick)="blockUserByUser()"
                label="Block"
              ></p-button>
              <p-button
                [label]="!profileUser.isFollowed ? 'Follow' : 'Following'"
                (onClick)="followUnfollowUser()"
                [loading]="isFollowUnFollowing"
              ></p-button>
            </div>
          </div>
        </div>
        <div class="p-4">
          <h1 class="text-2xl font-semibold leading-3">
            {{ profileUser.firstName }} {{ profileUser.lastName }}
          </h1>
          <p class="mt-2 font-light">@{{ profileUser.userName }}</p>

          <div *ngIf="profileUser.bio" class="mt-3 text-sm">
            <p>
              {{ profileUser.bio }}
            </p>
          </div>
          <div class="mt-3">
            <div *ngIf="profileUser.address" class="flex text-slate-600 gap-1">
              <i-tabler name="map-pin"></i-tabler>
              <p class="font-normal text-sm">
                {{ profileUser.address }}
              </p>
            </div>
            <div
              *ngIf="profileUser.dateOfBirth"
              class="flex text-slate-600 gap-1"
            >
              <i-tabler name="candle"></i-tabler>
              <p class="font-normal text-sm">
                Born {{ profileUser.dateOfBirth | date: "dd MMMM yyyy" }}
              </p>
            </div>
          </div>

          <div class="mt-3 flex gap-2 text-sm cursor-pointer">
            <div
              class="flex gap-1 hover:text-indigo-700"
              (click)="navigateToFollow('following')"
            >
              <p class="font-bold">{{ profileUser.following }}</p>
              <p>Following</p>
            </div>
            <div
              class="flex gap-1 hover:text-indigo-700"
              (click)="navigateToFollow('followers')"
            >
              <p class="font-bold">{{ profileUser.followers }}</p>
              <p>Followers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-between border-b items-center p-4">
      <h3 class="text-xl font-bold leading-none text-gray-900">Tweets</h3>
    </div>
  </ng-container>

  <div *ngIf="usersTweets">
    <div
      class="divide-y"
      infinite-scroll
      (scrolled)="loadMore()"
      [fromRoot]="true"
      [immediateCheck]="true"
    >
      <div *ngFor="let tweet of usersTweets.tweets">
        <app-tweet-card [tweet]="tweet"></app-tweet-card>
      </div>
    </div>

    <div *ngIf="isLoading && !isProfileLoading" class="space-y-2">
      <app-tweet-card-skeleton></app-tweet-card-skeleton>
      <app-tweet-card-skeleton></app-tweet-card-skeleton>
      <app-tweet-card-skeleton></app-tweet-card-skeleton>
      <app-tweet-card-skeleton></app-tweet-card-skeleton>
    </div>

    <p
      class="text-center py-10 font-semibold"
      *ngIf="usersTweets.page === usersTweets.totalPages && !isLoading"
    >
      No more tweets to show
    </p>
  </div>
</div>
