<ng-container *ngIf="user$ | async as user">
  <div
    [ngClass]="showBackButton ? 'pl-2' : 'pl-4'"
    class="w-full pr-4 py-3 sticky flex gap-2 items-center top-0 backdrop-blur-lg z-50"
  >
    <a
      *ngIf="!showBackButton"
      type="button"
      class="block sm:hidden"
      (click)="toggleSidebar()"
    >
      <img
        class="rounded-full h-[38px] w-[38px] object-cover border-2"
        [src]="
          user.profilePictureUrl
            ? user.profilePictureUrl
            : 'https://avatars.dicebear.com/api/open-peeps/' +
              user.userName +
              '.svg'
        "
      />
    </a>
    <button
      *ngIf="showBackButton"
      type="button"
      class="hover:bg-gray-100 transition font-medium rounded-full p-2.5 text-center inline-flex items-center"
      (click)="goBack()"
    >
      <i class="pi pi-arrow-left"></i>
    </button>

    <div class="flex-1" *ngIf="isSearchPage()">
      <app-autocomplete-input></app-autocomplete-input>
    </div>
    <h1 *ngIf="!isSearchPage()" class="md:text-2xl text-xl font-bold flex-1">
      {{ title }}
    </h1>

    <button
      pButton
      label="Mark all as read"
      type="button"
      *ngIf="isNotificationPage() && notificationCount > 0"
      class="p-button-text mark-button"
      (click)="markAllAsRead()"
    ></button>
  </div>

  <p-sidebar
    [blockScroll]="true"
    [style]="{ maxWidth: '280px' }"
    [(visible)]="sidenavDisplay"
    [showCloseIcon]="false"
  >
    <ng-template pTemplate="content">
      <div class="flex py-4 mb-2 items-center justify-between">
        <div class="flex items-center justify-start space-x-2">
          <app-logo fill="fill-indigo-700" [size]="2"></app-logo>
          <a [routerLink]="['/home']" class="font-bold text-xl">Geeky</a>
        </div>
        <i class="pi pi-times mr-2" (click)="toggleSidebar()"></i>
      </div>
      <img
        class="h-[50px] w-[50px] object-cover rounded-full border-2"
        [src]="
          user.profilePictureUrl
            ? user.profilePictureUrl
            : 'https://avatars.dicebear.com/api/open-peeps/' +
              user.userName +
              '.svg'
        "
      />

      <div class="mt-6 font-bold leading-3">
        {{ user.firstName }} {{ user.lastName }}
      </div>
      <div class="text-sm">@{{ user.userName }}</div>

      <div class="mt-2 flex gap-2 text-sm">
        <div class="flex gap-1">
          <p class="font-bold">{{ user.following }}</p>
          <p>Following</p>
        </div>
        <div class="flex gap-1">
          <p class="font-bold">{{ user.followers }}</p>
          <p>Followers</p>
        </div>
      </div>

      <ul class="space-y-2 mt-6">
        <li class="sidenav-item" (click)="navigateToHomeAndRefresh()">
          <app-home-icon [isActive]="false"></app-home-icon>
          <div class="label">Home</div>
        </li>
        <li class="sidenav-item" (click)="navigateToProfileAndRefresh()">
          <app-profile-icon [isActive]="false"></app-profile-icon>
          <div class="label">Profile</div>
        </li>
        <li class="sidenav-item" [routerLink]="['/notifications']">
          <app-notification-icon [isActive]="false"></app-notification-icon>
          <div class="label">Notifications</div>
        </li>

        <li class="sidenav-item" [routerLink]="['/settings']">
          <app-settings-icon></app-settings-icon>
          <div class="label">Settings</div>
        </li>
        <li *ngIf="isAdmin()" class="sidenav-item" [routerLink]="['/admin']">
          <app-admin-icon></app-admin-icon>
          <div class="label">Admin</div>
        </li>
        <li class="sidenav-item" (click)="logout()">
          <app-logout-icon></app-logout-icon>
          <div class="label">Logout</div>
        </li>
      </ul>
    </ng-template>
  </p-sidebar>

  <app-confirmation-dialog key="top-logout"></app-confirmation-dialog>
</ng-container>
