@import "~ngx-toastr/toastr";

// @import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif !important;
  ::selection {
    @apply bg-indigo-600 text-white;
  }
}

html {
  overflow-y: scroll;
}

html,
body {
  @apply text-slate-800 font-poppins;
}

// toast global style

.toast-container {
  .ngx-toastr {
    @apply shadow-lg;

    &:hover {
      @apply shadow-xl;
    }
  }
  .toast-success {
    @apply bg-green-500;
  }
}

.p-overlaypanel .p-overlaypanel-content {
  padding: 0 !important;
}

.p-overflow-hidden {
  overflow: initial !important;
}

.p-dialog.p-confirm-dialog {
  font-family: "Poppins", sans-serif;
}

.p-dialog.p-confirm-dialog .p-confirm-dialog-message {
  margin-left: 0 !important;
}

.p-dialog .p-dialog-footer button {
  @apply px-4 py-1.5 shadow-none text-sm w-full font-poppins;
}

.pi {
  font-family: "PrimeIcons" !important;
}
