<div class="flex flex-grow gap-4 max-w-7xl mx-auto">
  <header
    class="max-w-[200px] min-w-[200px] md:max-w-[250px] md:min-w-[250px] flex-grow items-end sticky top-0 h-screen hidden sm:block"
  >
    <app-side-nav></app-side-nav>
  </header>
  <main class="flex-grow gap-4">
    <div class="flex max-w-[900px] flex-1">
      <div class="flex-1 min-h-screen max-w-[600px] border-x mr-0 sm:mr-4">
        <router-outlet></router-outlet>
      </div>
      <div
        class="sticky pt-4 top-0 overflow-auto hidden lg:block w-[300px] h-screen px-2"
      >
        <div *ngIf="!isSearchPage">
          <div class="relative w-full mb-4">
            <div
              class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none z-10"
            >
              <i class="pi pi-search"></i>
            </div>

            <p-autoComplete
              [suggestions]="results"
              field="userName"
              name="search"
              (completeMethod)="searchResultForAutoComplete($event)"
              [(ngModel)]="searchQuery"
              placeholder="search by name or #tag"
              (onSelect)="onSearchResultClick($event)"
              (keydown.enter)="onSearch()"
              scrollHeight="400px"
            >
              <ng-template let-user pTemplate="item">
                <div class="cursor-pointer w-full group">
                  <div
                    class="grid gap-4 w-full"
                    style="grid-template-columns: 2.5rem auto"
                  >
                    <!-- (click)="onSearchResultClick(user)" -->
                    <img
                      class="w-10 h-10 object-cover rounded-full"
                      [src]="
                        user.profilePictureUrl
                          ? user.profilePictureUrl
                          : 'https://avatars.dicebear.com/api/open-peeps/' +
                            user.userName +
                            '.svg'
                      "
                      alt="Neil image"
                    />
                    <div class="truncate">
                      <p
                        class="truncate text-sm font-medium text-gray-900 group-hover:text-indigo-600"
                      >
                        {{ user.firstName }} {{ user.lastName }}
                      </p>
                      <p class="text-sm truncate text-gray-500">
                        {{ user.userName }}
                      </p>
                    </div>
                  </div>
                </div>
              </ng-template>
            </p-autoComplete>
          </div>
        </div>
        <app-authors-card></app-authors-card>
        <app-followers-card></app-followers-card>
      </div>
    </div>
  </main>
</div>
<div class="block sm:hidden">
  <app-bottom-nav></app-bottom-nav>
</div>

<app-search-dialog></app-search-dialog>
<app-new-tweet-dialog></app-new-tweet-dialog>
