<div class="flex flex-grow gap-4 max-w-7xl mx-auto">
  <header
    class="max-w-[200px] min-w-[200px] md:max-w-[250px] md:min-w-[250px] flex-grow items-end sticky top-0 h-screen hidden sm:block"
  >
    <app-side-nav></app-side-nav>
  </header>
  <main class="flex-grow gap-4">
    <div class="flex max-w-[900px] flex-1">
      <div class="flex-1 min-h-screen max-w-[600px] border-x mr-0 sm:mr-4">
        <router-outlet></router-outlet>
      </div>
      <div
        class="sticky top-0 overflow-auto hidden lg:block w-[300px] h-screen px-2"
      >
        <form (ngSubmit)="onSearch()">
          <input
            name="search"
            [(ngModel)]="searchQuery"
            class="w-full my-4 border border-gray-300 rounded-full p-2.5 text-sm focus:outline-none focus:ring-2 focus:ring-indigo-600"
            type="text"
            placeholder="Search Twitter"
          />
        </form>
        <app-followers-card></app-followers-card>
      </div>
    </div>
  </main>
</div>
<div class="block sm:hidden">
  <app-bottom-nav></app-bottom-nav>
</div>

<app-search-dialog></app-search-dialog>
<app-new-tweet-dialog></app-new-tweet-dialog>
