<app-top-nav title="Notifications"></app-top-nav>
<div class="w-full">
  <div class="">
    <div class="w-full" *ngIf="paginatedNotifications">
      <ul
        class="divide-gray-200 divide-y"
        infinite-scroll
        (scrolled)="loadMore()"
        [fromRoot]="true"
        [immediateCheck]="true"
      >
        <li
          *ngFor="let notification of paginatedNotifications.notifications"
          class="cursor-pointer hover:bg-gray-100 hover:text-indigo-900 px-4 py-4 md:px-6"
          (click)="markAsRead(notification)"
        >
          <div class="flex items-center space-x-4 md:space-x-6">
            <div class="flex-shrink-0">
              <i
                [ngClass]="
                  'pi pi-' + getNotificationTypeIcon(notification.type)
                "
                class="text-[1.3rem] md:text-2xl"
              ></i>
            </div>
            <div class="flex-1 min-w-0">
              <p class="font-medium text-lg leading-5">
                {{ notification.message }}
              </p>
              <p class="flex-shrink-0 text-gray-600 text-sm mt-0.5">
                {{ notification.createdAt | notificationDateFormat }}
              </p>
            </div>
            <div
              class="flex-shrink-0 w-2.5 h-2.5 bg-indigo-700 rounded-full"
              *ngIf="!notification.isRead"
            ></div>
          </div>
        </li>
      </ul>
      <div *ngIf="isLoading" class="py-10 flex justify-center">
        <app-spinner></app-spinner>
      </div>

      <p
        class="text-center py-10 font-semibold"
        *ngIf="
          paginatedNotifications.page === paginatedNotifications.totalPages &&
          !isLoading
        "
      >
        No more notification to show
      </p>
    </div>
  </div>
</div>
