<app-top-nav title="Search"></app-top-nav>

<div class="p-4" *ngIf="tweetSearchQuery.length === 0">
  <h1 class="text-lg text-center">Please enter a search query!!</h1>
</div>

<div
  class="w-full space-y-2"
  *ngIf="searchedTweets && tweetSearchQuery.length > 1"
>
  <div
    infinite-scroll
    (scrolled)="loadMore()"
    [immediateCheck]="true"
    class="divide-y"
  >
    <div class="space-y-2" *ngFor="let tweet of searchedTweets.tweets">
      <app-tweet-card [tweet]="tweet"></app-tweet-card>
    </div>
  </div>
</div>

<div class="mt-2 space-y-2" *ngIf="isLoading">
  <div>
    <app-tweet-card-skeleton></app-tweet-card-skeleton>
  </div>
  <div>
    <app-tweet-card-skeleton></app-tweet-card-skeleton>
  </div>
  <div>
    <app-tweet-card-skeleton></app-tweet-card-skeleton>
  </div>
</div>
