<div class="grid grid-cols-3 justify-items-center">
  <button
    type="button"
    class="group px-4 py-2 text-rose-500 focus:outline-none hover:text-rose-600 font-medium text-sm text-center inline-flex items-center"
    (click)="like()"
  >
    <i
      [ngClass]="isLiked ? 'pi pi-heart-fill' : 'pi pi-heart'"
      class="group-hover:bg-rose-50 rounded-full p-2 mr-1"
    ></i>
    {{ likeCount }}
  </button>
  <button
    type="button"
    (click)="comment()"
    class="group px-4 py-2 text-green-500 focus:outline-none hover:text-green-600 font-medium text-sm text-center inline-flex items-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-5 h-5 mr-2.5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"
      />
    </svg>

    <!-- <i class="pi pi-comment group-hover:bg-green-50 rounded-full p-2 mr-1"></i> -->
    {{ commentCount }}
  </button>
  <button
    type="button"
    (click)="retweet()"
    [ngClass]="
      isRetweeted
        ? 'text-indigo-800 hover:text-indigo-500'
        : 'text-indigo-500 hover:text-indigo-500'
    "
    class="group px-4 py-2 focus:outline-none font-medium text-sm text-center inline-flex items-center"
  >
    <div class="group-hover:bg-indigo-50 rounded-full p-1.5 mr-1">
      <svg
        viewBox="0 0 24 24"
        [ngClass]="isRetweeted ? 'fill-indigo-800' : 'fill-indigo-500'"
        class="w-5 h-5 fill-indigo-500 group-hover:fill-indigo-500"
        aria-hidden="true "
      >
        <g>
          <path
            d="M4.5 3.88l4.432 4.14-1.364 1.46L5.5 7.55V16c0 1.1.896 2 2 2H13v2H7.5c-2.209 0-4-1.79-4-4V7.55L1.432 9.48.068 8.02 4.5 3.88zM16.5 6H11V4h5.5c2.209 0 4 1.79 4 4v8.45l2.068-1.93 1.364 1.46-4.432 4.14-4.432-4.14 1.364-1.46 2.068 1.93V8c0-1.1-.896-2-2-2z"
          ></path>
        </g>
      </svg>
    </div>

    {{ retweetCount }}
  </button>
</div>
